.bg-red {
  background-color: var(--red);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-blue {
  background-color: var(--blue);
}

.text-red {
  color: var(--red);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}
