.create-project-form-container{
    z-index: 1000;
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5); /* black background with 50% opacity */
    color: white; /* text color */
}

form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20vh auto;
}

form > input {
    margin-bottom: 50px;
}